body {
	color:#ddd;
	background:#222;
	background-image: url(http://farm3.staticflickr.com/2363/1974323885_4d489293a1_o.jpg);
	background-position:0em 2em;
	padding: 2em;

	font-family: 'AaarghNormal';
	}


h1 {
	font: 60px/68px 'XenophoneRegular',Arial,sans-serif;
	letter-spacing: 0;
}
h3 {
	background: rgba(30, 30,30, 0.4);
	padding:5px 10px ;
}
#container {
	background: rgba(30, 30,30, 0.4);
	padding: 0;
	margin: 10px;
}

a {
	text-decoration:none;
}

ul {
	margin:0;
	padding:0;
}

#hiddenDiv {
	
}
#hiddenDiv .hiddenRel{
display:none;
}

#container .inactive {
left: -9999px;
position:absolute;
}

img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	border:1px solid #888;
}


.loading {
	border:1px solid red;
	position: absolute;
}

#photo {
	width: 100%;
	display:inline-block;
	
}
#flickr {
	margin:2em;
	float:right;
	top: 1em;
	position:absolute;
	right:2em;
	top:15em;
}


#flickr  li {
	list-style:none;
}

.info {
	display:none;
}
#flickr a{
display:inline-block;
}