<html>
<head>
<script id="structureOptions"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://raw.github.com/PaulKinlan/leviroutes/master/routes-min.js"></script>
<script src="/layout.js"></script>

<LINK REL=StyleSheet HREF="/layout.css" TYPE="text/css" MEDIA=screen></head>
<LINK REL=StyleSheet HREF="/static/Sinking-Ship-fontfacekit/stylesheet.css" TYPE="text/css" MEDIA=screen></head>
<LINK REL=StyleSheet HREF="/static/Xenophone-fontfacekit/stylesheet.css" TYPE="text/css" MEDIA=screen></head>
<LINK REL=StyleSheet HREF="/static/Aaargh-fontfacekit/stylesheet.css" TYPE="text/css" MEDIA=screen></head>


<body>
	<h1>@harrybeagle</h1>
	<div id="mainNav">
	</div>
	<div id="container"></div>
	<div id="hiddenDiv"><div id="hiddenRel"></div></div>
</body>
</html>