body {
	color:#ddd;
	background:#222;
	background-image: url(http://farm3.staticflickr.com/2363/1974323885_4d489293a1_o.jpg);
	background-position:0em 2em;
	padding: 2em;

	font-family: 'AaarghNormal';
	}


h1 {
	font: 60px/68px 'XenophoneRegular',Arial,sans-serif;
	letter-spacing: 0;
}
h3 {
	background: rgba(30, 30,30, 0.4);
	padding:5px 10px ;
	margin: 0;
}
#container {
	background: rgba(30, 30,30, 0.4);
	padding: 0;
	margin: 10px;
	min-height:10em;
}

a {
	text-decoration:none;
}

ul {
	margin:0;
	padding:0;
}

#hiddenDiv {
	
}
#hiddenDiv .hiddenRel{
display:none;
}

#container .inactive {
left: -9999px;
position:absolute;
}

img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	border:1px solid #888;
}


.loading {
	background: url(http://www.loadinfo.net/images/preview/18_clock_five_24.gif?1200916238) no-repeat #111;
	position: absolute;
	height:75px;
	width:75px;
	opacity:  0.7;
}

#photo {
	width: 100%;
	display:inline-block;
}

#flickr.right {
	margin:5px;
	float:right;
	top: 1em;
	position:absolute;
	right:40px;
	top:15em;
}


#flickr.right  li {
	list-style:none;
	display:block;
	padding:2px;
	margin:2px;
}

#flickr.right  li img {
margin: 5px 10px;
padding: 0;
}
#flickr  li {
display:inline-block;
}

#flickr, #flickr2 {
height:120px;
}

.info {
	display:inline-block;
	vertical-align:top;
}
#flickr a{
}


body.js-enabled #container a{
	display:none;

}